body{
    margin: 10%;
}

#titulopaolillo{
    text-align: center;
    text-decoration: underline;
}

div#img1 img {
    float: right;
    width: 250px;
    height: 250px;
    margin: 8%;
    border: solid black 2px;
  }


.tabla1{
    font-family: 'Courier New';
}

.lista1 {
    color: brown;
}

.tabla2{
    font-family: 'Lucida Sans';
}

h2{
    color: blueviolet;
    text-decoration: underline;
}